html, body {
  margin: 0;
  padding: 0;
  font-family: Fira Code,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
}

.link {
  @apply text-#9CA3AF no-underline op60 hover:op100 transition-opacity duration-300 ease-in-out cursor-pointer;
}